<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ecommerece">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ecommerece">
        <activity android:name=".ui.activities.CartListActivity"></activity>
        <activity android:name=".ui.activities.ProductDetailsActivity" />
        <activity android:name=".ui.activities.AddProductActivity" />
        <activity android:name=".ui.activities.SettingsActivity" />
        <activity
            android:name=".ui.activities.DashboardActivity"
            android:theme="@style/Theme.Ecommerece" />
        <activity android:name=".ui.activities.UserProfileActivity" />
        <activity android:name=".ui.activities.ForgotActivity" />
        <activity
            android:name=".ui.activities.RegisterActivity"
            android:theme="@style/Theme.Ecommerece.Register" />
        <activity
            android:name=".ui.activities.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Ecommerece.splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>